
body{

	background-color:#B3B3B3;
}
#menu
{
	text-align: center;
	border: 1px solid black;
	background-color: #156CB4;
	border-radius: 5px;
}

#contenu
{
	display: table-cell;
	border: 1px solid black;
	background-color: #156CB4;
	border-radius: 5px;
}
